<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectLab"
        android:usesCleartextTraffic="true"

        tools:targetApi="31">
        <activity
            android:name=".Lab10.Exe1.Exercise1"/>

        <activity
            android:name=".Lab8.Lab8ActivityMain"/>
        <activity
            android:name=".Lab5.Lab5Activity"
            android:exported="true"/>
        <activity
            android:name=".Lab4.DrinkActivity"
            android:exported="true"/>
        <activity
            android:name=".Lab4.FoodActivity"
            android:exported="true"/>
        <activity
            android:name=".Lab4.Mainlab4"
            android:exported="true"/>

        <activity
            android:name=".Lab3.Exe03.RunPlayer"
            android:exported="true"/>
        <activity
            android:name=".Lab3.Exe02.ListViewLanguage"
            android:exported="true"/>
        <activity
            android:name=".Lab3.Exe01.Run"
            android:exported="true"/>
        <activity
            android:name=".Lab3.Lab3Activity"
            android:exported="true"/>
        <activity
            android:name=".Lab2.HelloWorld"
            android:exported="true"/>
        <activity
            android:name=".Lab2.Lab2Layoutexe031"
            android:exported="true"/>
        <activity
            android:name=".Lab2.Lab2Layoutexe03"
            android:exported="true"/>
        <activity
            android:name=".Lab2.Lab2Layoutexe02"
            android:exported="true"/>
        <activity
            android:name=".Lab2.Lab2Layoutexe01"
            android:exported="true"/>
        <activity
            android:name=".Lab2.Lab2Activity"
            android:exported="true"/>
        <activity
            android:name=".Lab1.Lab1LayoutInsta"
            android:exported="true"/>
        <activity
            android:name=".Lab1.Lab1LayoutFb"
            android:exported="true"/>
        <activity
            android:name=".Lab1.Lab1Layout3"
            android:exported="true"/>
        <activity
            android:name=".Lab1.Lab1Layout2"
            android:exported="true"/>
        <activity
            android:name=".Lab1.Lab1Layout1"
            android:exported="true"/>
        <activity
            android:name=".Lab1.Lab1Activity"
            android:exported="true"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>